<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>
    <link rel="stylesheet" href="../static/style.css"/>

    <script type="text/javascript" src="static/search.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>

    <title>Calgary BP Search</title>
</head>

<body class="center">

<h1>Search for Building Permits in Calgary</h1>

<form action="/search" method="POST">
    <label>Issued Dates: </label>
    <input placeholder="From..." type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="from_date"/>
    <input placeholder="To..." type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="to_date"/>
    <button type="submit">Search</button>
</form><br><br>

<div id="map" class="leaflet-container"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin="">
</script>

<!-- creating JS script{{geojsonFeature}} -->
<script>

calgary = [51.0447, -114.0719];
var mymap = L.map('map').setView(calgary, 10);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy;<a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>'
    }).addTo(mymap);

var oms = new OverlappingMarkerSpiderfier(mymap);
    var popup = new L.Popup();
    oms.addListener('click', function(marker) {
    popup.setContent(marker.desc);
    popup.setLatLng(marker.getLatLng());
    mymap.openPopup(popup);
    });
oms.addListener('spiderfy', function(markers) {
    mymap.closePopup();
});

</script>

{% for feature in features %}
<script>

var BP_location = ['{{ feature['properties']['latitude'] }}','{{ feature['properties']['longitude'] }}'];
var marker = L.marker(BP_location);

{% set IssD = feature['properties']['issueddate'] %}
{% set WCG = feature['properties']['workclassgroup'] %}
{% set ConN = feature['properties']['contractorname'] %}
{% set ComN = feature['properties']['communityname'] %}
{% set OrAd = feature['properties']['originaladdress'] %}

marker.bindPopup('<p>Issued Date: {{ IssD }}</p><p>Work Class Group: {{ WCG }}</p><p>Contractor Name: {{ ConN }}</p><p>Community Name: {{ ComN }}</p><p>Original Address: {{ OrAd }}</p>').openPopup();

mymap.addLayer(marker);
oms.addMarker(marker);

</script>
{% endfor %}

<script>
</script>

</body>

</html>