.text_colour {
	 color: #fff6f0;
}
 body {
	 font-family: 'Alata';
	 font-size: 22px;
	 background-color: #ffd2a8;
}
 #textbox_background {
	 border: 10px;
	 border-radius: 15px;
	 padding: 20px;
	 background: #ffa87d;
	 background-size: contain;
	 background-clip: content;
}
 img {
	 height: 100%;
	 width: auto;
	 display: block;
	 margin: 10px auto;
	 border-radius: 20px;
}
 div .gallery {
	 border: 1px;
	 margin: 8px;
}
 div .gallery:hover {
	 opacity: 0.5;
}
 div .gallery img {
	 width: 100%;
	 height: 400px;
	 object-fit: cover;
}
 .rel_pos, .container {
	 position: relative;
}
 .abs_pos, .centered_align {
	 position: absolute;
}
 .container {
	 text-align: center;
	 color: white;
}
.centered_align.centered_title {
width: 100%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.responsive{
  padding: 0 6px;
  width: 24.99999%
}
@media only screen and (max-width: 700px){
  .responsive{
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px){
  .responsive{
    width: 100%
  }
}
#inner_center{
  display: flex;
  justify-content: center;
}
* {
    box-sizing: border-box;
}
