<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta httlp-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static//style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Search for books</title>
</head>

<body>
    <h1 style="text-align:center">BOOK SEARCH</h1>
    <div>
        <form action="/view_books" method="GET">
            <input type ="button" data-inline="true" value="View Books">
        </form>
    </div>
</body>
</html>