<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta httlp-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static//style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>USERNAME</title>
</head>

<body>
    <h1 style="text-align:center">Hi USERNAME</h1>
    <div class="navbar">
        <form action="/my_reviews" method="GET">
            <input type ="button" data-inline="true" value="My Reviews">
        </form>
        <form action="/create_review" method="GET">
            <input type ="button" data-inline="true" value="Create Review">
        </form>
        <form action="/book_details" method="GET">
            <input type ="button" data-inline="true" value="Book Search">
        </form>
        <form action="/">
            <input type ="button" data-inline="true" value="Log Out">
        </form>
    </div>
</body>
</html>