<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta httlp-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../static//style.css">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="center container">
        <h1>Register</h1>
        <form class="center" action="/user_profile" method="POST">
            <label for="uname">Username:</label>
            <input type="text" id="uname" name="uname" placeholder="Create a username"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="pword" placeholder="Create a password"><br><br>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="pword" placeholder="Confirm password"><br><br>
            <input type="submit" value="Register">
        </form><br><br>
    </div>
</body>
</html>